@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Rubik&display=swap');

h1,
h2,
h5 {
    font-family: "Rubik", sans-serif;
}

p {
    font-family: 'Playfair Display', serif;
}

.hero {
    background-image: url(../img/matthieu-comoy-w2fTKLN3CJU-unsplash.jpg);
    background-size: cover;
    background-position: center center;

}

.herojumbo {
    background-color: #2e2114ad;
}

/*
.herojumbo {
    background: linear-gradient(rgba(255, 0, 0, .5), rgba(255, 0, 0, .25));
*/
}

.hero p {
    font-size: 1.8rem;
}

#hide {
    display: none;
    margin: 0 auto;
}

.list-group-item {
    background-color: #6e5c44;
}

.card img {
    opacity: 0.9;
    transition: transform .5s,
        opacity .5s;
    transition: transform .5s,
        opacity .5s;
}

.card img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.bg-f {
    background-image: url(../img/chang-duong-ZshVGzJ6a_s-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cta {
    background-color: #2846;
    color: #333a40;
}

.form {
    background-color: #281b09a2;
}

.custom-control label {
    width: 40%;

    padding-bottom: 10px;


}

.card-text {
    text-align: left;
}


footer {
    background-color: #c07718a1;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-link:hover {
    background-color: #2846;
}

.dropdown-item:hover {
    background-color: #2846;
}



#pay p {
    padding: 1rem 1rem;
    font-size: 1.2rem;
}

#pay {
    display: none;
}

@media screen and (max-width:400px) {
    .container h2 {
        font-size: 2rem;
        font-weight: 700;

    }

    .display-3 {
        font-size: 2rem;
        font-weight: 700;
    }


}

@media screen and (max-width:570px) {
    footer {
        flex-direction: column;
    }
}
